<div id="replaceMe">
    <br><br><br>

    <div class="container-lg ">
        <h1 class="display-6 text-center"> {{time}} </h1>
        <br><br>
        <div class="row gx-0">

            <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                <div class="card-header text-center">
                    <h4 class="my-0 font-weight-normal">TopSlowestCommands</h4>
                </div>
                <div class="card-body">
                    {% for key,val in trace_json.TopSlowestCommands.items %}
                    <p class="m-0 text-center">{{key}} {{val}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">keyNameBreakDown</h4>
                </div>
                <div class="card-body text-center">
                    {% for key,val in trace_json.keyNameBreakDown.items %}
                    <p class="m-0 text-center">{{key}} {{val}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">keyNamePrefixBreakDown</h4>
                </div>
                <div class="card-body text-center">
                    {% for key,val in trace_json.keyNamePrefixBreakDown.items %}
                    <p class="m-0 text-center">{{key}} {{val}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">percentilesCommandsDuration</h4>
                    </div>
                    <div class="card-body text-center">
                        {% for key,val in trace_json.percentilesCommandsDuration.items %}
                        <p class="m-0">{{key}} {{val}}</p>
                        {% endfor %}
                    </div>
                </div>


                <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">breakUpCommandByType</h4>
                    </div>
                    <div class="card-body text-center">
                        {% for key,val in trace_json.breakUpCommandByType.items %}
                        <p class="m-0 text-center">{{key}} {{val}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">top10SlowestCommands</h4>
                    </div>
                    <div class="card-body text-center">
                        {% for key,val in trace_json.breakUpCommandByType.items %}
                        <p class="m-0 text-center">{{key}} {{val}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">top10SlowestCommands</h4>
                    </div>
                    <div class="card-body text-center">
                        <table>
                            <tr>
                                <th>Duration</th>
                                <th>Command</th>
                                <th>keyname</th>
                                <th>Value</th>
                            </tr>

                            {% for key in trace_json.top10SlowestCommands %}

                            <tr>
                                <td>{{key.duration}}</td>
                                <td>{{key.command}}</td>
                                <td>{{key.keyname}}</td>
                                <td>{{key.val|truncatechars:128}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="col-sm shadow offset2 rounded sm-3 mb-3 mx-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">getTotalCommandsProcessed</h4>
                    </div>
                    <div class="card-body text-center">
                        {{trace_json.getTotalCommandsProcessed}}
                    </div>
                </div>

            </div>

        </div>