<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link async href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'htmx.min.js' %}" defer></script>

    <style>
        .card-header {
            background-color: rgba(0, 0, 0, .10);
        }
    </style>
</head>

<div class="container mt-5 bg-gradient rounded" style="background-color:rgb(117, 117, 117)">
    <ul class="nav">
        <i class="fa-solid fa-camera" style="padding-top: 12px;color: white;"></i>
        <li class="nav-item">
            <a class="nav-link link-light" href="/traces">Traces</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/capturecommandstosql">Capture Traces</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>
<br>

<br>
<div class="container" id="tracelist">
    <div class="row">
        {% for trace in object_list %}

        {% if "bg-success" in trace.color %}
        <div class="col-md-1 bg-gradient " style="background-color: #7caf7c;">
            <button class='btn text-white' hx-get="/traces/{{ trace.id }}" hx-target="#replaceMe" hx-swap="outerHTML">
                {{trace.id}}
        </div>
        {% elif "bg-warning" in trace.color %}
        <div class="col-md-1 bg-gradient " style="background-color:#e7b54b" ;>
            <button class='btn text-white' hx-get="/traces/{{ trace.id }}" hx-target="#replaceMe" hx-swap="outerHTML">
                {{trace.id}}
        </div>
        {% else %}
        <div class="col-md-1 bg-gradient " style="background-color: #cb5449 ;">
            <button class='btn text-white' hx-get="/traces/{{ trace.id }}" hx-target="#replaceMe" hx-swap="outerHTML">
                {{trace.id}}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

</div>


<div id="replaceMe">

</div>